<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,600,700,700i&amp;subset=latin-ext" rel="stylesheet">
    <link href="static_website/css/bootstrap.css" rel="stylesheet">
    <link href="static_website/css/fontawesome-all.css" rel="stylesheet">
    <link href="static_website/css/swiper.css" rel="stylesheet">
	<link href="static_website/css/magnific-popup.css" rel="stylesheet">
    <link href="static_website/css/styles.css" rel="stylesheet">
    <link rel="shortcut icon" href="static_website/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="static_website/images/favicon.ico" type="image/x-icon">
    <title>ExaPro</title>
</head>

<body>

<body data-spy="scroll" data-target=".fixed-top">

    <!-- Preloader -->
    <div class="spinner-wrapper">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>

   <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
        <a class="navbar-brand logo-image navlogo" href="#header"
            style="text-decoration: none;font-size: 26px; font-weight: 700; ">
            <!-- <img src="{% static 'static_website/images/logo2.jpg' %}" class="logo" style="width: 40px; height: 40px; object-fit: cover; border-radius:100%;"> -->
        </a>
        <!-- Mobile Menu Toggle Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-awesome fas fa-bars"></span>
            <span class="navbar-toggler-awesome fas fa-times"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#header">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#pricing">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#video">Help</a>
                </li>

                <!-- Dropdown Menu -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle page-scroll" href="#about" id="navbarDropdown" role="button"
                        aria-haspopup="true" aria-expanded="false">About</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'terms-conditions' %}"><span class="item-text">Terms
                                Conditions</span></a>
                        <div class="dropdown-items-divide-hr"></div>
                        <a class="dropdown-item" href="{% url 'privacy-policy' %}"><span class="item-text">Privacy
                                Policy</span></a>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#contact">Contact</a>
                </li>
            </ul>
            <span class="nav-item social-icons">
                <span class="fa-stack">
                    <a href="https://www.facebook.com/exapro.gpa.7/">
                        <i class="fas fa-circle fa-stack-2x facebook"></i>
                        <i class="fab fa-facebook-f fa-stack-1x"></i>
                    </a>
                </span>
                <span class="fa-stack">
                    <a href="https://twitter.com/ExaproO">
                        <i class="fas fa-circle fa-stack-2x twitter"></i>
                        <i class="fab fa-twitter fa-stack-1x"></i>
                    </a>
                </span>
            </span>
        </div>
    </nav>

    <!-- Header -->
    <header id="header" class="header">
        <div class="header-content">
            <div class="container hcontainer">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="text-container htext"><br>
                            <h1 class="ph1 ph-u"><span class="turquoise headlogo">ExaPro</span></h1>
                            <h1 class="ph1 ph-t2">Online Assessment Platform</h1>
                            <p class="ph1" p-large">Our assessment solution is best for assessing students for
                                online<br>exams and supports various formats such as MCQs, eassay, code, <br>typing,
                                aptitude, and complex tests that are secured through<br>advanced encryption technique
                            </p>
                            <br><a class="btn-solid-lg page-scroll" href="{% url 'signup' %}"
                                style="background-color: rgb(255, 0, 106); border:none;margin-bottom: 100px;">SIGN UP</a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="image-container" style="padding-top: 100px;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>


   
    <!-- Pricing -->
    <<div id="pricing" class="pricing cards-2">
        <div class="container conpur" style="font-family: Verdana, Geneva, Tahoma, sans-serif !important;">
            <div class="row">
                <div class="col-lg-12">
                    <center>
                        <br><br>
                        <h2 class="ph3 pricetxt">Choose a plan</h2>
                    </center>
                </div>
                <div class="cards" style="margin-top: 0px !important;">
                    <div class="purchasecard">
                        <div class="card-body">
                            <center><strong style="font-size: x-large;">0 RS.</strong></center>
                            </br>
                            <p class="purchasecard-text"><i class="fa fa-check"></i> 5 Exams<br>
                                <i class="fa fa-check"></i> 50 Members<br><i class="fa fa-check"></i> 30 days free trial
                            </p>
                            <br><br><br><br>
                            <center><a href="#" class="purchasebtn btn">Free Trial</a></center><br>
                        </div>
                    </div>
                </div>
                <div class="cards" style="margin-top: 0px !important;">
                    <div class="purchasecard">
                        <div class="card-body">
                            <center><strong style="font-size: x-large;">699 RS.</strong></center>
                            </br>
                            <p class="purchasecard-text"><i class="fa fa-check"></i> 150 Exams<br>
                                <i class="fa fa-check"></i> 200 Members<br><i class="fa fa-check"></i> Face
                                Detection<br>
                                <i class="fa fa-check"></i> 3 months<br>

                            </p>
                            <br><br><br>
                            <center><a href="https://pages.razorpay.com/pl_GC2EEyHxjP7YH6/view" class="purchasebtn btn">Purchase</a></center><br>
                        </div>
                    </div>
                </div>
                <div class="cards" style="margin-top: 0px !important;">
                    
                    <div class="purchasecard">
                        <div class="card-body">
                            <center><strong style="font-size: x-large;">1499 RS.</strong></center>
                            </br>
                            <p class="purchasecard-text"><i class="fa fa-check"></i> 350 Exams<br>
                                <i class="fa fa-check"></i> 400 Members<br>
                                <i class="fa fa-check"></i> Face Detection<br>
                                <i class="fa fa-check"></i> Voice Detection<br> <i class="fa fa-check"></i> 6 Months
                                <br><br><br>
                                <center><a href="https://pages.razorpay.com/pl_GCF8fPNh1kEkRq/view" class="purchasebtn btn">Purchase</a></center><br>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="cards" style="margin-top: 0px !important;">
                    <div class="purchasecard">
                        <div class="card-body">
                            <center><strong style="font-size: x-large;">1899 RS.</strong></center>
                            </br>
                            <p class="purchasecard-text"><i class="fa fa-check"></i> Unlimited Exams<br>
                                <i class="fa fa-check"></i> Unlimited Users<br>
                                <i class="fa fa-check"></i> Face Detection<br><i class="fa fa-check"></i> Voice
                                Detection<br>
                                <i class="fa fa-check"></i> More Security<br><i class="fa fa-check"></i> 12 Months<br>
                            </p>
                            <br>
                            <center><a href="https://pages.razorpay.com/pl_GCFDOMaeKW6gut/view" class="purchasebtn btn">Purchase</a></center><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Video -->
    <div class="container video"">
        <div class=" basic-3" id="video">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <center style="margin-top: -20px;">
                        <h2>Check Out The Video</h2>
                    </center>

                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="image-container">
                        <div class="video-wrapper">
                            <a class="popup-youtube" href="
                                https://www.youtube.com/watch?v=Zh79avyxSFY&t=8s" data-effect="fadeIn">
                                <img class="img-fluid" src="static_website/images/video-frame.svg"
                                    style="margin-top: -20px;">
                                <span class="video-play-button">
                                    <span></span>
                                </span>
                            </a>
                        </div>
                    </div>
                    <p>This video will show you a case study for one of our <strong>Major Customers</strong> and
                        will help you understand why your startup needs ExaPro in this highly competitive market
                    </p>
                </div>
            </div>
        </div>
    </div>
 

    <!-- Video -->
    <div class="video container">
        <div class="basic-3" id="video">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <center>
                            <h2>Check Out The Video</h2>
                        </center>

                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="image-container">
                            <div class="video-wrapper">
                                <a class="popup-youtube" href="
                                https://www.youtube.com/watch?v=Zh79avyxSFY&t=8s" data-effect="fadeIn">
                                    <img class="img-fluid" src="static_website/images/video-frame.svg"  style="margin-top: -20px;">
                                    <span class="video-play-button">
                                        <span></span>
                                    </span>
                                </a>
                            </div>
                        </div>
                        <p>This video will show you a case study for one of our <strong>Major Customers</strong> and
                            will help you understand why your startup needs ExaPro in this highly competitive market
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- About -->
    <div id="about" class="about basic-4" style="margin-top: -100px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>About The Team</h2>
                    <p class="p-heading p-large" style="padding: 20px;"> Our focus is on providing the best user experience for our
                        employees or students. With a team of 6 dedicated, friendly Developers we strive every day
                        to
                        improve our us and give you excellent support. We do this with a smile, and a cup of coffee
                        in
                        our hands!</p></b>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">

                    <!-- Team Member -->
                    <div class="team-member">
                        <div class="image-wrapper">
                            <img class="img-fluid" src="static_website/images/kaustubh.jpg" alt="alternative">
                        </div>
                        <p class="p-large"><strong>Kaustubh Bhlue</strong></p>
                        <span class="social-icons">
                            <span class="fa-stack">
                                <a href="https://www.facebook.com/kaustubh.bhule/">
                                    <i class="fas fa-circle fa-stack-2x facebook"></i>
                                    <i class="fab fa-facebook-f fa-stack-1x"></i>
                                </a>
                            </span>
                            <span class="fa-stack">
                                <a href="https://twitter.com/BhuleKaustubh">
                                    <i class="fas fa-circle fa-stack-2x twitter"></i>
                                    <i class="fab fa-twitter fa-stack-1x"></i>
                                </a>
                            </span>
                        </span>
                    </div>


                    <!-- Team Member -->
                    <div class="team-member">
                        <div class="image-wrapper">
                            <img class="img-fluid" src="static_website/images/ayushi.jpg" alt="alternative">
                        </div>
                        <p class="p-large"><strong>Ayushi Thakur</strong></p>

                        <span class="social-icons">
                            <span class="fa-stack">
                                <a href="https://www.facebook.com/">
                                    <i class="fas fa-circle fa-stack-2x facebook"></i>
                                    <i class="fab fa-facebook-f fa-stack-1x"></i>
                                </a>
                            </span>
                            <span class="fa-stack">
                                <a href="https://twitter.com/">
                                    <i class="fas fa-circle fa-stack-2x twitter"></i>
                                    <i class="fab fa-twitter fa-stack-1x"></i>
                                </a>
                            </span>
                        </span>
                    </div>


                    <!-- Team Member -->
                    <div class="team-member">
                        <div class="image-wrapper">
                            <img class="img-fluid" src="static_website/images/shantanu.jpeg" alt="alternative">
                        </div>
                        <p class="p-large"><strong>Shantanu Barad</strong></p>

                        <span class="social-icons">
                            <span class="fa-stack">
                                <a href="https://www.facebook.com/">
                                    <i class="fas fa-circle fa-stack-2x facebook"></i>
                                    <i class="fab fa-facebook-f fa-stack-1x"></i>
                                </a>
                            </span>
                            <span class="fa-stack">
                                <a href="https://twitter.com/">
                                    <i class="fas fa-circle fa-stack-2x twitter"></i>
                                    <i class="fab fa-twitter fa-stack-1x"></i>
                                </a>
                            </span>
                        </span>
                    </div>


                    <!-- Team Member -->
                    <p>
                    <div class="team-member">
                        <div class="image-wrapper">
                            <img class="img-fluid" src="static_website/images/sadiya.jpeg" alt="alternative">
                        </div>
                        <p class="p-large"><strong>Sadiya Abdul Salim</strong></p>

                        <span class="social-icons">
                            <span class="fa-stack">
                                <a href="https://www.facebook.com/">
                                    <i class="fas fa-circle fa-stack-2x facebook"></i>
                                    <i class="fab fa-facebook-f fa-stack-1x"></i>
                                </a>
                            </span>
                            <span class="fa-stack">
                                <a href="https://twitter.com/">
                                    <i class="fas fa-circle fa-stack-2x twitter"></i>
                                    <i class="fab fa-twitter fa-stack-1x"></i>
                                </a>
                            </span>
                        </span>
                    </div>

                    <!-- Team Member -->
                    <div class="team-member">
                        <div class="image-wrapper">
                            <img class="img-fluid" src="static_website/images/sejal.jpeg" alt="alternative">
                        </div>
                        <p class="p-large"><strong>Sejal Puraswani</strong></p>

                        <span class="social-icons">
                            <span class="fa-stack">
                                <a href="https://www.facebook.com/">
                                    <i class="fas fa-circle fa-stack-2x facebook"></i>
                                    <i class="fab fa-facebook-f fa-stack-1x"></i>
                                </a>
                            </span>
                            <span class="fa-stack">
                                <a href="https://twitter.com/">
                                    <i class="fas fa-circle fa-stack-2x twitter"></i>
                                    <i class="fab fa-twitter fa-stack-1x"></i>
                                </a>
                            </span>
                        </span>
                    </div>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- Contact -->
    <div id="contact" class="contact form-2" style="margin-top: -100px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Contact Information</h2>
                    <ul class="list-unstyled li-space-lg">
                        <li class="address">Don't hesitate to give us a call or send us a contact form message</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6" style="margin-top: -21px;">
                    <div class="map-responsive"> -->
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d238541.18417656783!2d77.62165752374443!3d20.90403011662421!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bd6a4a67774bc15%3A0x3c7b3f78ca4f9635!2sAmravati%2C%20Maharashtra%2C%20India!5e0!3m2!1sen!2sro!4v1602766762920!5m2!1sen!2sro"
                            width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""
                            aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
                <div class="col-lg-6">

                    <!-- Contact Form -->
                    <form id="contactForm" data-toggle="validator" data-focus="false" style="margin-top: -20px;"
                        action="{% url 'contact' %}" method="POST">
                        <div class="form-group">
                            <input type="text" class="form-control-input" id="cname" name="uname" required>
                            <label class="label-control" for="cname">Name</label>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control-input" id="cemail" name="uemail" required>
                            <label class="label-control" for="cemail">Email</label>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control-textarea" id="cmessage" name="umessage" required></textarea>
                            <label class="label-control" for="cmessage">Your message</label>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group checkbox">
                            <input type="checkbox" id="cterms" value="Agreed-to-Terms" required>I have read and agree
                            with ExaPro's stated <a href="{% url 'privacy-policy' %}">Privacy Policy</a> and <a
                                href="{% url 'terms-conditions' %}">Terms & Conditions</a>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="form-control-submit-button">SEND MESSAGE&emsp;>></button>
                        </div>
                        <div class="form-message">
                            <div id="cmsgSubmit" class="h3 text-center hidden"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <div class="footer">
        <div class="container">
	<hr>
            <div class="row">
                <div class="col-md-4">
                    <div class="footer-col">
                        <h4>About ExaPro</h4>
                        <p>We're passionate about offering some of the best facilities for online assesments</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="footer-col middle">
                        <h4>Important Links</h4>
                        <ul class="list-unstyled li-space-lg">
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Read our <a class="turquoise"
                                        href="{% url 'terms-conditions' %}">Terms
                                        & Conditions</a>
                                </div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Read our <a class="turquoise">
                                        <a class="turquoise" href="{% url 'privacy-policy' %}">privacy
                                            policy</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="footer-col last">
                        <h4>Social Media</h4>
                        <span class="fa-stack">
                            <a href="https://www.facebook.com/exapro.gpa.7">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-facebook-f fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="https://twitter.com/ExaproO">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-twitter fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="https://mail.google.com/mail/u/0/?view=cm&fs=1&tf=1&to=exapro.official@gmail.com">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-google-plus-g fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="https://www.instagram.com/exapro.official/">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-instagram fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="https://www.linkedin.com/in/exa-pro-aaba981ba/">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-linkedin-in fa-stack-1x"></i>
                            </a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Copyright -->
    <div class="copyright" style="margin-top: -40px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p class="p-small">Copyright © 2020 <a href="#header">ExaPro</a> - All rights
                        reserved</p>
                </div>
            </div>
        </div>
    </div>

     <div class="stickyCookieAlert" id="stickyCookieAlert">
        <span class="cookieText">This website is using cookies. By continuing to browse, you are agreeing to our use of
            cookies as explained in our <a class="a-cookie" href="{% url 'cookie-policy' %}">Cookie&nbsp;Policy</a>.</span>
        <a id="cookie-consent" type="button" onclick="chide();">Ok</a>
    </div>
							       
    <script>
        // document.addEventListener("contextmenu", function (e) {
        //     e.preventDefault();
        // }, false);

        setTimeout(() => {
            if (localStorage.getItem("consent") != "true") {
                var cb = document.getElementById('stickyCookieAlert');
                cb.style.display="block";
            }
        }, 5000);


        function chide() {
            var cb = document.getElementById('stickyCookieAlert');
            localStorage.setItem("consent", "true");
            cb.style['display'] = "none";
        }
    </script>

</body>

<script src="static_website/js/jquery.min.js"></script> 
<script src="static_website/js/popper.min.js"></script> 
<script src="static_website/js/bootstrap.min.js"></script>
<script src="static_website/js/jquery.easing.min.js"></script> 
<script src="static_website/js/swiper.min.js"></script>
<script src="static_website/js/jquery.magnific-popup.js"></script>
<script src="static_website/js/validator.min.js"></script> 
<script src="static_website/js/scripts.js"></script> 

</html>
